*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
   background-color: dimgrey;

}
.name h1{
    font-size: 30px;
}
.name span{
    /* color: crimson; */
    color: rgba(240, 110, 17, 0.941) ;
    font-size: 40px;
}
/* navbar------------------------------ */
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: 700;
    font-size: 18px;
    position: relative;
}
ul li a span{
    color: rgba(240, 110, 17, 0.941) ;
}
ul li a span:hover{
    color: black;
}
nav ul li a:hover{
    color: rgba(240, 110, 17, 0.941) ;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition-duration: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* text------------------------------------------------- */
.text{
    margin-top:2% ;
}
.text1 p{
    color: black;
    font-size: x-large;
    font-weight: 500;
}
.text2 p{
    font-size: large;
    font-weight: 500;
    margin: 10px;
}
.text2 p span{
    color: rgb(250, 14, 14);
}
/* cards-------------------allpages-------------------- */

.card h1{
    color: black ;
}
#cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.card img {
    width: 250px;
    height: 250px;
    border-radius: 20%;
}
.card span{
    color:rgba(240, 110, 17, 0.941) ;
}
.card p {
    font-size: 14px;
    margin: 2px;
    font-weight: bold;
    color: rgb(10, 10, 10);
}
/* mediaqurey------------------------------- */
@media screen and (max-width: 600px) {
     #cards{
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  /* button------------------------------- */
  .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px;
  }
  .btn button{
    width: 120px;
    height: 45px;
    /* background: black; */
    background-color: rgba(240, 110, 17, 0.941) ;    
    cursor: pointer;
    border-radius:15px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .btn a{
    color: black;
    text-decoration: none;
 }
 .btn a:hover{
     color: azure;
 }

  a button{

    width: 90px;
    height: 30px;
    background-color: rgba(240, 110, 17, 0.941) ; 
    border-radius:10px;
    font-size: 15px;
    font-weight: 500;
 }
 /* a--------------about--------------------- */
 #aboutpage h2{
    padding: 5%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
 }
 
 h2 span{
    color:rgba(240, 110, 17, 0.941) ;
}
 .abt-text{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2%;
 }
 .abt-text p{
    color: black;
    font-size: x-large;
    font-weight: 500;
 }
 /* menupage------------------------------------------------- */
 #menupage h1{
   text-align: center;
   position: relative;
   margin-top: 5%;
 }
 h1 span{
    color: rgba(240, 110, 17, 0.941);
 }
 .content1{
    padding: 4%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
 }
 td span{
    font-weight: 600;
    color:black;
 }
 th{
    font-size: 25px;
 }
 th span{
   color: rgba(240, 110, 17, 0.941);
 }
 /* vedios----------------------------------- */
 .vedios h4{
    margin: 3%;
    font-size: larger;
    font-weight: 700;
 }
 .vedios h4 span{
    color:rgba(240, 110, 17, 0.941) ;
 }
 .vedios{
    padding: 3%;
    margin: 2%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
 }
 @media screen and (max-width: 600px) {
    .vedios{
     width: 100%;
     display: block;
     margin-bottom: 20px;
   }
 }
  /* service-------------------------------------------- */
  #Servicepage h5{
    padding: 4%;
    text-align: center;
    font-size: 35px;
  }
  h5 span{
    color: rgba(240, 110, 17, 0.941);
 }
 .servicetext p{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
 }
 .map{
    text-align: center;
    padding: 1%;
 }
 .map .locate{
    padding: 1%;
    font-size: 24px;
    font-weight: 900;
 }
.map span{
    color: rgba(240, 110, 17, 0.941);
}
/* contact-------------------------------------------- */
.contactquotes h1{
 text-align: center;
 padding: 1%;
}




/* login form-------------------------------- */
#form-container{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    
    border: 2px solid black;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    /* box-shadow: 1px 2px 3px 4px rgba(240, 110, 17, 0.941); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box{
    /* width: 100%;  */
    padding: 40px;
}
.form-box h6{
    font-size: 2em;
    color: black;
    text-align: center;
}
.form-box h6 span{
    color: rgba(240, 110, 17, 0.941);
}
 
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;

}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 700;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    /* color: rgba(240, 110, 17, 0.941); */
    line-height: 50px;
}

.remember-forgot{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
/* .remember-forgot .checkbox{
    background-color: black;
    color: black;
} */

.remember-forgot label input{
    accent-color:black;
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.bttn{
    width: 100%;
    height: 45px;
    background:rgb(29, 29, 29);
    color: whitesmoke;
    border: none;
   /* outline: none; */
    border-radius: 6px;
     cursor: pointer;
     font-weight: 500;

}
.login-register{
    font-size: .9em;
    font-weight: 500;
    text-align: center;
    margin: 25px 0 10px;
}
.login-register p a{
    color: black;
    text-decoration: none;
}
.login-register p a:hover{
    text-decoration: underline; 
    margin-right: 3px;
}
/* icons =--------------------------------------- */
 #icons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
 }
    .social-icons a{
      font-size: 30px;
      margin-right: 15px;
      text-decoration: none;
      color:black;
      transition-duration: -1s;
  }
  .social-icons a:hover{
      color:rgba(240, 110, 17, 0.941);
      transform: translateY(-5px);
  }
  
footer{
    background: rgb(49, 48, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
